Package            Version 
------------------ --------
alembic            1.0.8   
asn1crypto         0.24.0  
astroid            2.2.5   
async-generator    1.10    
atomicwrites       1.3.0   
attrs              19.1.0  
backcall           0.1.0   
bleach             3.1.0   
blinker            1.4     
boto3              1.9.180 
botocore           1.12.180
catboost           0.15.2  
certifi            2019.3.9
certipy            0.1.3   
cffi               1.12.3  
chardet            3.0.4   
conda              4.6.14  
confuse            1.0.0   
copulas            0.2.1   
cryptography       2.6.1   
cycler             0.10.0  
decorator          4.4.0   
defusedxml         0.5.0   
docutils           0.14    
entrypoints        0.3     
exrex              0.10.5  
Faker              1.0.7   
graphviz           0.11    
htmlmin            0.1.12  
idna               2.8     
importlib-metadata 0.18    
ipykernel          5.1.0   
ipython            7.5.0   
ipython-genutils   0.2.0   
ipywidgets         7.4.2   
isort              4.3.21  
jedi               0.13.3  
Jinja2             2.10.1  
jmespath           0.9.4   
joblib             0.13.2  
jsonschema         3.0.1   
jupyter-client     5.2.4   
jupyter-core       4.4.0   
jupyterhub         1.0.0   
jupyterlab         0.35.5  
jupyterlab-server  0.2.0   
kiwisolver         1.1.0   
lazy-object-proxy  1.4.1   
llvmlite           0.29.0  
Mako               1.0.7   
MarkupSafe         1.1.1   
matplotlib         3.1.0   
mccabe             0.6.1   
missingno          0.4.1   
mistune            0.8.4   
more-itertools     7.1.0   
nbconvert          5.5.0   
nbformat           4.4.0   
notebook           5.7.8   
numba              0.44.1  
numpy              1.16.4  
oauthlib           3.0.1   
packaging          19.0    
pamela             1.0.0   
pandas             0.24.2  
pandas-profiling   2.0.3   
pandocfilters      1.4.2   
parso              0.4.0   
pexpect            4.7.0   
phik               0.9.8   
pickleshare        0.7.5   
pip                19.1    
plotly             3.10.0  
pluggy             0.12.0  
prometheus-client  0.6.0   
prompt-toolkit     2.0.9   
ptyprocess         0.6.0   
py                 1.8.0   
pycosat            0.6.3   
pycparser          2.19    
pycurl             7.43.0.2
Pygments           2.4.0   
PyJWT              1.7.1   
pylint             2.3.1   
pyOpenSSL          19.0.0  
pyparsing          2.4.0   
pyrsistent         0.15.2  
PySocks            1.6.8   
pytest             5.0.0   
pytest-pylint      0.14.0  
python-dateutil    2.8.0   
python-editor      1.0.4   
pytz               2019.1  
PyYAML             5.1.1   
pyzmq              18.0.1  
rdt                0.1.2   
requests           2.21.0  
retrying           1.3.3   
ruamel-yaml        0.15.71 
s3transfer         0.2.1   
scikit-learn       0.21.2  
scipy              1.3.0   
sdv                0.1.1   
seaborn            0.9.0   
Send2Trash         1.5.0   
setuptools         41.0.1  
six                1.12.0  
sklearn            0.0     
SQLAlchemy         1.3.3   
terminado          0.8.2   
testpath           0.4.2   
text-unidecode     1.2     
tornado            6.0.2   
traitlets          4.3.2   
typed-ast          1.4.0   
urllib3            1.24.2  
wcwidth            0.1.7   
webencodings       0.5.1   
wheel              0.33.1  
widgetsnbextension 3.4.2   
wrapt              1.11.2  
zipp               0.5.1   
